---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import Script from "@/components/equipe/Script.astro";
import Stylequipe from "@/components/equipe/Stylequipe.astro";

const teamData = await getEntry("equipe", "equipe");

type TeamEntry = CollectionEntry<"equipe">;
type Member = TeamEntry["data"]["members"][number];

const members = teamData.data.members;
---

<Layout title="Équipe">
  <section class=" py-16">
    <div class="max-w-7xl mx-auto px-4 lg:px-8">
      <div class="bg-white rounded-lg shadow-sm p-10">
        <header class="mb-10 ">
          <h1 class="text-3xl font-bold text-gray-900 mb-4">
            {teamData.data.title}
          </h1>
             <div
            class="h-1
    w-20
    rounded-full
    mb-6
    bg-gradient-to-r
    from-red-500/40
    to-green-500/40"
          >
          </div>
          <p  class="text-gray-700 leading-relaxed text-base sm:text-lg">
            {teamData.data.description}
          </p>
        </header>
        <div class="swiper teamSwiper3D">
          <div class="swiper-wrapper">
            {members.map((member: Member) => (
              <div class="swiper-slide">
                <article class="team-card">
                  <div class="w-full border-t-2 border-gray-400 mb-6" />
                  <div class="w-32 h-32 rounded-full overflow-hidden mb-4">
                    <Image
                      src={member.image}
                      alt={member.name}
                      width={128}
                      height={128}
                      class="w-full h-full object-cover"
                      loading="lazy"
                      quality={80}
                    />
                  </div>
                  <h2 class="text-sm font-bold text-gray-900 mb-3">
                    {member.name}
                  </h2>
                  <p class="text-xs text-gray-900 leading-relaxed mb-3 px-2">
                    {member.role}
                  </p>
                  <p class="text-xs text-gray-900 mb-6">
                    {member.location}
                  </p>
                  <div class="w-full border-t-2 border-gray-400" />
                </article>
              </div>
            ))}
          </div>
          <div class="swiper-button-next" />
          <div class="swiper-button-prev" />
          <div class="swiper-pagination" />
        </div>
      </div>
    </div>
  </section>
</Layout>
<Stylequipe/>
<Script />