---
import Layout from "../layouts/Layout.astro";
import MissionSection from "../components/mission/MissionSection.astro";
import { getEntry, type CollectionEntry } from "astro:content";

const entry = await getEntry("mission", "mission");
if (!entry) throw new Error("Contenu introuvable");

type MissionSectionType =
  CollectionEntry<"mission">["data"]["sections"][number];

const { title, intro, sections, conclusion } = entry.data;
---
<Layout title={title}>
  <section class="py-24">
    <div class="max-w-[100rem] mx-auto px-10">
      <div class="relative bg-white border border-gray-200 rounded-[3rem] p-20">
        <div class="max-w-full">
          <h1 class="text-5xl font-bold mb-8">
            {title}
          </h1>
          <div
            class="h-1.5 w-24 rounded-full mb-10
                   bg-gradient-to-r from-red-500/40 to-green-500/40"
          ></div>
          <p class="text-xl leading-loose text-gray-700 mb-24">
            {intro}
          </p>
          <div
            class="grid gap-12
                   grid-cols-1 sm:grid-cols-2 lg:grid-cols-3
                   items-stretch"
          >
            {
              sections.map((s: MissionSectionType, i: number) => (
                <MissionSection
                  index={i}
                  text={s.text}
                  image={s.image}
                  alt={s.alt}
                />
              ))
            }
          </div>
          <p class="mt-24 text-xl leading-loose text-gray-700">
            {conclusion}
          </p>

        </div>
      </div>
    </div>
  </section>
</Layout>
