---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArticleCard from "../components/ArticleCard.astro";

const articles = await getCollection("articles");

const sortedArticles = [...articles].sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title="News">
  <section class="py-14 sm:py-20">
    <div class="max-w-[100rem] mx-auto px-10">
      <div class="bg-white rounded-2xl shadow-md p-6 sm:p-10 lg:p-14">
        <header class="mb-16 max-w-3xl">
          <h1 class="mt-2 text-3xl sm:text-4xl lg:text-5xl font-extrabold text-gray-900">
            News
          </h1>

          <div
            class="h-1 w-20 rounded-full mb-6 bg-gradient-to-r from-red-500/40 to-green-500/40"
          ></div>
        </header>

        <div class="space-y-12">
          {sortedArticles.map((article) => (
            <ArticleCard
              url={`/news/${article.slug}`}
              title={article.data.title}
              description={article.data.description}
              image={article.data.image}
              imageAlt={article.data.imageAlt}
              date={article.data.date}
            />
          ))}
        </div>

      </div>
    </div>
  </section>
</Layout>
